mixin retinaImage(className, center, altTag)
	div(class=center ? "#{ className } img-responsive center-block" : "#{ className } img-responsive")
		div: img(src="/img/transparentPixel.png", width="1", height="1", alt=altTag)
